<div class="menu">
    <!--Logo-->
    <div class="logo">
        <div class="logo-pic"></div>
        <div class="iconbar"></div>
    </div>
    <!--menu item-->
    <div class="menu-content">
        <div class="menu-item">
            <div class="menu-item-icon icon-board"></div>
            <div class="menu-item-text">
                @Html.ActionLink("Quản lý sản phẩm", "Index", "Product")
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-item-icon icon-report"></div>
            <div class="menu-item-text">
                @Html.ActionLink("Quản lý khách hàng", "Index", "Customer")
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-item-icon icon-bill"></div>
            <div class="menu-item-text">
                @Html.ActionLink("Quản lý hoá đơn bán", "Index", "Bill")
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-item-icon icon-warehouse"></div>
            <div class="menu-item-text">
                @Html.ActionLink("Quản lý đơn vị vận chuyển", "Index", "Transport")
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-item-icon icon-list"></div>
            <div class="menu-item-text">
                @Html.ActionLink("Quản lý danh mục", "Index", "ProductCategory")
            </div>
        </div>
    </div>
</div>


